* {
  font-family: 'Montserrat';
  box-sizing: border-box;
  font-style: normal;
}

.product-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  left: 85px;
  width: 1110px;
  height: 1191px;
  margin: 0px auto;
}

.title {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  margin-top: 220px auto;
  margin: 220px auto 125px auto;
  display: flex;
  align-items: center;
  text-align: center;
  color: #515076;
}

.bg-dandelions {
  background: url("/images/bg-dandelions.png");
  background-repeat: no-repeat;
  background-size: 790px 697px;
}

.product-card {
  width: 340px;
  height: 573px;
  border: 1px;
  background-color: #F7F7FA;
}

.product-card__images {
  width: 290px;
  height: 245px;
  display: block;
  margin: 20px auto;
  background-color: #F7F7FA;
}

.prodct-card__product-purpose {
  font-weight: 400;
  font-size: 12px;
  color: #A5A3B9;
}

.product-card__item-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #515076;
}

.product-card__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.product-card__ingredients {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.product-card__ingredient-list {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.product-card__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}

.product-card__amount {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}