body {
  width: 100%;
  font-family: 'Montserrat';
}

.background-dandelions {
  position: absolute;
  z-index: -1;
  max-width: 100%;
  width: 790px;
  height: 697px;
  top: 0;
  left: 32%;
}

.title {
  text-align: center;
  z-index: 1;
  color: #515076;
  max-width: 846px;
  width: 90%;
  height: auto;
  font-weight: 400;
  font-size: 70px;
  margin: 0 auto;
  margin-top: 220px;
  font-size: clamp(30px, 8vw, 70px);
}

.product-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1180px;
  min-height: 1191px;
  margin: auto;
  width: 100%;
  margin-top: 70px;
  gap: 45px 45px;
}

.product-card {
  width: 340px;
  height: 573px;
  border: 1px solid #F7F7FA;
  background-color: #F7F7FA;
  box-sizing: border-box;
  padding: 25px;
}

.product-card-image {
  width: 290px;
  height: 245px;
}

.for-skin {
  color: #515076;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.product-name {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #515076;
}
.description {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #515076;
}

.composition {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #515076;
}

.product-composition {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  color: #515076;
  line-height: 18px;
  padding: 0;
  margin: 10px 25px 15px 25px;
}

.price-word {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #515076;
}

.price {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  color: #515076;
  line-height: 24px;
  letter-spacing: 0%;
  }

.price-card {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.button-container { 
  display: flex;
  gap: 5px;
  transform: translateY(45px);
}

#recolor-first-card-button {
  margin-left: 32%;
  padding: 5px 5px;
  font-size: 15px;
  border: 1px #515076;
}

#recolor-cards-button {
  padding: 5px 5px;
  font-size: 15px;
  border: 1px #515076;
}

#transition-google-button {
  padding: 5px 5px;
  font-size: 15px;
  border: 1px #515076;
}

#color-button {
  position: absolute;
  margin-left: 50%;
  margin-top: 20px;
  padding: 5px 5px;
  font-size: 18px;
  border: 1px #515076;
}

.active {
  background-color: #FFD700  ;
}

.background-color-cards {
  background-color: #E0E0E0;
}
