* {
  font-family: 'Montserrat';
  box-sizing: border-box;
  font-style: normal;
}

.bg-dandelions {
  position: absolute;
  top: -350px;
  left: 0;
  z-index: -1;
  width: 790px;
  height: 697px;
  background-repeat: no-repeat;
  pointer-events: none;
}

.title {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  padding-top: 150px;
  color: #515076;
}

.product-card-wrapper {
  position: relative;
  z-index: 2;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  width: 1110px;
  height: 1191px;
  margin: 0px auto;
  overflow: visible;
}

.product-card {
  width: 340px;
  height: 573px;
  border: 1px;
  background-color: #F7F7FA;
}

.product-card__images {
  width: 290px;
  height: 245px;
  display: block;
  margin: 20px auto;
  background-color: #F7F7FA;
}

.prodct-card__product-purpose {
  font-weight: 400;
  font-size: 12px;
  color: #A5A3B9;
}

.product-card__item-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #515076;
}

.product-card__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.product-card__ingredients {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.product-card__ingredient-list {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.product-card__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}

.product-card__amount {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}